<h2>{{title}}</h2>
<div class="search-bar">
    <input type="text" placeholder="Rechercher un article" #recherche/>
    <button  class="btn btn-outline-primary" (click)="filtrerArticle(recherche.value)" >rechercher</button>
</div>

@for (article of TriArticles(); track $index) {
    <div class="card">
        <div class="row no-gutters align-items-center">
          <div class="col-md-4">
            <img src="{{ article.photo }}" class="card-img" style="height: 300px; width: 300px;" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 class="fw-bold">#{{ article.id }}</h6>
              <h5 class="fw-bold"> Titre : {{ article.titre }}</h5>
              <h5 class="fw-bold">Date : {{ article.date }}</h5>
              <h5 class="fw-bold"> Description : {{ article.description }}</h5>
              <h5 class="fw-bold"> Score : {{ article.score}}</h5>
              <button class="btn btn-outline-info me-3" (click)="addscore(article)">up</button>
              <button  class="btn btn-outline-warning me-3" (click)="removescore(article)">down</button>
            </div>
          </div>
        </div>
      </div>  

}
<button  class="btn btn-danger mb-3" (click)="changeAction('add')">Ajouter un article</button>   
@if (action === "add") {
    <app-ajout-article [lastId]="Articles[Articles.length - 1].id" 
    (articleCreated)="addArticle($event)">
    </app-ajout-article>
    
}